<div class="container mt-5">
  <h1 class="titulo-principal">Almacén De Bebidas.</h1>
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">
                        Lista De Productos.
                    </span>
                    <a class="btn btn-success float-end" routerLinkActive="active" routerLink="/crear-producto">NUEVO</a>
                    <table class="table table-striped mt-3">
                        <thead>
                          <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Categoría</th>
                            <th scope="col">Distribuidora</th>
                            <th scope="col">Precio</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let producto of listaProductos">
                            <td>{{ producto.descripcion }}</td>
                            <td>{{ producto.categoria }}</td>
                            <td>{{ producto.distribuidora }}</td>
                            <td>{{ producto.precio | currency: 'USD'}}</td>
                            <td>
                                <i [routerLink]="['/editar-producto', producto._id]" class="fa-solid fa-pen-to-square text-primary"></i>
                                <i (click)="eliminarProducto(producto._id)" class="fa-solid fa-trash text-danger"></i>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <h5 style="text-align: start; margin-top: 10px;" *ngIf="listaProductos.length == 0">No hay productos para mostrar</h5>
                </div>
            </div>
        </div>
    </div>
</div>
